<html>
<head></head>
<body>
<li class="clearfix" data-id="53757"><a target="_blank" href="/53757?from=post_hot_week_img"
                                        title="追忆张国荣情怀短片《当爱已成往事》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-29/5abc9cb344827_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="追忆张国荣情怀短片《当爱已成往事》">
    <div class="bottom-cover">
        <!-- <span class="share-num">330911</span> -->
        <span class="film-time">02:47</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53757?from=post_hot_week_title" title="追忆张国荣情怀短片《当爱已成往事》">追忆张国荣情怀短片《当爱已成往事》</a>
            <a href="http://www.xinpianchang.com/a57062" class="mark mark-blue curp"
               target="_blank">来自新片场</a></h1>
        <div class="index-con">
            影片作者：
            <a class="user" target="_blank" href="http://www.xinpianchang.com/u10002830">黎家伦</a>
            <a target="_blank" href="http://www.xinpianchang.com/user/userverify/ts-intro"
               class="plus-v-p-12"></a>
            <div class="rating" data-score="6.7">
                <div class="rating-holder">
                    <span style="width:65.4px;"></span>
                </div>
                <span class="num">6.7</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53757?from=index_new_intro">别留恋岁月中我无意的柔情万种，别问我是否言不由衷。</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53757?from=post_hot_week" title="阅读追忆张国荣情怀短片《当爱已成往事》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">5 天前</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53766"><a target="_blank" href="/53766?from=post_hot_week_img"
                                        title="流转乾坤延时摄影《THE BEST OF BEIJING 最好的北京》"
                                        class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-30/5abe1530754a6_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="流转乾坤延时摄影《THE BEST OF BEIJING 最好的北京》">
    <div class="bottom-cover">
        <!-- <span class="share-num">303711</span> -->
        <span class="film-time">07:15</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53766?from=post_hot_week_title"
               title="流转乾坤延时摄影《THE BEST OF BEIJING 最好的北京》">流转乾坤延时摄影《THE BEST OF BEIJING 最好的北京》</a>
            <a href="http://www.xinpianchang.com/a10188560" class="mark mark-blue curp"
               target="_blank">来自新片场</a></h1>
        <div class="index-con">
            影片作者：
            <a class="user" target="_blank"
               href="http://www.xinpianchang.com/u10057895">iDavidLee</a>
            <a target="_blank" href="http://www.xinpianchang.com/user/userverify/ts-intro"
               class="plus-v-p-12"></a>
            <div class="rating" data-score="8.6">
                <div class="rating-holder">
                    <span style="width:82.2px;"></span>
                </div>
                <span class="num">8.6</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53766?from=index_new_intro">I Love Beijing!</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53766?from=post_hot_week" title="阅读流转乾坤延时摄影《THE BEST OF BEIJING 最好的北京》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-30</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="52776"><a target="_blank" href="/52776?from=post_hot_week_img"
                                        title="小米摄影大赛《平凡人的史诗 》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2017-10-13/59e06cf3dbe44_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="小米摄影大赛《平凡人的史诗 》">
    <div class="bottom-cover">
        <!-- <span class="share-num">267811</span> -->
        <span class="film-time">02:50</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/52776?from=post_hot_week_title" title="小米摄影大赛《平凡人的史诗 》">小米摄影大赛《平凡人的史诗
            》</a> <a href="http://www.xinpianchang.com/a91605" class="mark mark-blue curp"
                     target="_blank">来自新片场</a></h1>
        <div class="index-con">
            <div class="rating" data-score="6.9">
                <div class="rating-holder">
                    <span style="width:67.8px;"></span>
                </div>
                <span class="num">6.9</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/52776?from=index_new_intro">记录平凡，成就非凡</a>
        </div>
        <!-- 		<div class="index-more"><a href="/52776?from=post_hot_week" title="阅读小米摄影大赛《平凡人的史诗 》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-29</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53715"><a target="_blank" href="/53715?from=post_hot_week_img"
                                        title="战斗民族超夸张恋爱MV《恶作剧情侣》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-22/5ab323e24c66b_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="战斗民族超夸张恋爱MV《恶作剧情侣》">
    <div class="bottom-cover">
        <!-- <span class="share-num">313811</span> -->
        <span class="film-time">05:59</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53715?from=post_hot_week_title" title="战斗民族超夸张恋爱MV《恶作剧情侣》">战斗民族超夸张恋爱MV《恶作剧情侣》</a>
        </h1>
        <div class="index-con">
            <div class="rating" data-score="8.3">
                <div class="rating-holder">
                    <span style="width:78.6px;"></span>
                </div>
                <span class="num">8.3</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53715?from=index_new_intro">这恋爱我真心谈不起</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53715?from=post_hot_week" title="阅读战斗民族超夸张恋爱MV《恶作剧情侣》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-26</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53763"><a target="_blank" href="/53763?from=post_hot_week_img"
                                        title="一镜到底反思人性创意短片《The Double》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-30/5abdf65425a3c_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="一镜到底反思人性创意短片《The Double》">
    <div class="bottom-cover">
        <!-- <span class="share-num">253011</span> -->
        <span class="film-time">04:35</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53763?from=post_hot_week_title"
               title="一镜到底反思人性创意短片《The Double》">一镜到底反思人性创意短片《The Double》</a></h1>
        <div class="index-con">
            <div class="rating" data-score="8.1">
                <div class="rating-holder">
                    <span style="width:76.2px;"></span>
                </div>
                <span class="num">8.1</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53763?from=index_new_intro">善恶一分为二，信任合二为一</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53763?from=post_hot_week" title="阅读一镜到底反思人性创意短片《The Double》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">4 天前</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53778"><a target="_blank" href="/53778?from=post_hot_week_img"
                                        title="致一个时代！《头号玩家》138颗彩蛋完全讲解" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-04-03/5ac350ed92ee8_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="致一个时代！《头号玩家》138颗彩蛋完全讲解">
    <div class="bottom-cover">
        <!-- <span class="share-num">217911</span> -->
        <span class="film-time">07:53</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53778?from=post_hot_week_title"
               title="致一个时代！《头号玩家》138颗彩蛋完全讲解">致一个时代！《头号玩家》138颗彩蛋完全讲解</a></h1>
        <div class="index-con">
            <div class="rating" data-score="7.6">
                <div class="rating-holder">
                    <span style="width:73.2px;"></span>
                </div>
                <span class="num">7.6</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53778?from=index_new_intro">不想被剧透的，欢迎看完片子再进</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53778?from=post_hot_week" title="阅读致一个时代！《头号玩家》138颗彩蛋完全讲解全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2 天前</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53689"><a target="_blank" href="/53689?from=post_hot_week_img"
                                        title="搞笑？！他们是认真的" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-27/5aba17a6c6839_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="搞笑？！他们是认真的">
    <div class="bottom-cover">
        <!-- <span class="share-num">250111</span> -->
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53689?from=post_hot_week_title" title="搞笑？！他们是认真的">五星推荐爆笑合集<i
                style="position: relative;top: -2px;font-style:normal;"> ：</i>搞笑？！他们是认真的</a> <span
                class="mark mark-green">专题</span></h1>
        <div class="index-con">
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53689?from=index_new_intro">爆笑的背后是犀利的眼睛</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53689?from=post_hot_week" title="阅读搞笑？！他们是认真的全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time">2018-03-27</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53753"><a target="_blank" href="/53753?from=post_hot_week_img"
                                        title="张国荣经典电影镜头混剪《怪你过分美丽》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-29/5abc926ab2c94_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="张国荣经典电影镜头混剪《怪你过分美丽》">
    <div class="bottom-cover">
        <!-- <span class="share-num">277611</span> -->
        <span class="film-time">05:00</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53753?from=post_hot_week_title" title="张国荣经典电影镜头混剪《怪你过分美丽》">张国荣经典电影镜头混剪《怪你过分美丽》</a>
        </h1>
        <div class="index-con">
            <div class="rating" data-score="8.2">
                <div class="rating-holder">
                    <span style="width:77.4px;"></span>
                </div>
                <span class="num">8.2</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53753?from=index_new_intro">哥哥，15年了别来无恙</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53753?from=post_hot_week" title="阅读张国荣经典电影镜头混剪《怪你过分美丽》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-31</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53723"><a target="_blank" href="/53723?from=post_hot_week_img"
                                        title="新世相戳心短片《一个下班不回家男人的回家之旅》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-23/5ab476c519c08_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="新世相戳心短片《一个下班不回家男人的回家之旅》">
    <div class="bottom-cover">
        <!-- <span class="share-num">264311</span> -->
        <span class="film-time">07:56</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53723?from=post_hot_week_title"
               title="新世相戳心短片《一个下班不回家男人的回家之旅》">新世相戳心短片《一个下班不回家男人的回家之旅》</a> <a
                href="http://www.xinpianchang.com/a10186161" class="mark mark-blue curp"
                target="_blank">来自新片场</a></h1>
        <div class="index-con">
            影片作者：
            <a class="user" target="_blank" href="http://www.xinpianchang.com/u10231759">新世相</a>
            <a target="_blank" href="http://www.xinpianchang.com/user/userverify/ts-intro"
               class="plus-v-c-12"></a>
            <div class="rating" data-score="7.7">
                <div class="rating-holder">
                    <span style="width:74.4px;"></span>
                </div>
                <span class="num">7.7</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53723?from=index_new_intro">致波澜不惊的生活</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53723?from=post_hot_week" title="阅读新世相戳心短片《一个下班不回家男人的回家之旅》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-24</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53713"><a target="_blank" href="/53713?from=post_hot_week_img"
                                        title="复古画风魔性病毒广告《如何种植有机轮胎》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-22/5ab3283762ea1_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="复古画风魔性病毒广告《如何种植有机轮胎》">
    <div class="bottom-cover">
        <!-- <span class="share-num">265311</span> -->
        <span class="film-time">03:20</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53713?from=post_hot_week_title" title="复古画风魔性病毒广告《如何种植有机轮胎》">复古画风魔性病毒广告《如何种植有机轮胎》</a>
            <a href="http://www.xinpianchang.com/a10185682" class="mark mark-blue curp"
               target="_blank">来自新片场</a></h1>
        <div class="index-con">
            影片作者：
            <a class="user" target="_blank" href="http://www.xinpianchang.com/u10097046">猕姒忑柒</a>
            <a target="_blank" href="http://www.xinpianchang.com/user/userverify/ts-intro"
               class="plus-v-p-12"></a>
            <div class="rating" data-score="7.3">
                <div class="rating-holder">
                    <span style="width:69.6px;"></span>
                </div>
                <span class="num">7.3</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53713?from=index_new_intro">一本正经的胡说八道真的好吗？</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53713?from=post_hot_week" title="阅读复古画风魔性病毒广告《如何种植有机轮胎》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-25</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53762"><a target="_blank" href="/53762?from=post_hot_week_img"
                                        title="独立意识觉醒短片《玩手机的女人》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-04-03/5ac2ea97bb2a7_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="独立意识觉醒短片《玩手机的女人》">
    <div class="bottom-cover">
        <!-- <span class="share-num">193311</span> -->
        <span class="film-time">04:02</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53762?from=post_hot_week_title" title="独立意识觉醒短片《玩手机的女人》">独立意识觉醒短片《玩手机的女人》</a>
        </h1>
        <div class="index-con">
            <div class="rating" data-score="8.1">
                <div class="rating-holder">
                    <span style="width:76.2px;"></span>
                </div>
                <span class="num">8.1</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53762?from=index_new_intro">文学的世界里，每一个人的灵魂都是自由的。</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53762?from=post_hot_week" title="阅读独立意识觉醒短片《玩手机的女人》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">3 天前</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53727"><a target="_blank" href="/53727?from=post_hot_week_img"
                                        title="中国时代女性的群像《只为你生命中的“美”一天》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-26/5ab8891180b6b_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="中国时代女性的群像《只为你生命中的“美”一天》">
    <div class="bottom-cover">
        <!-- <span class="share-num">234611</span> -->
        <span class="film-time">04:57</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53727?from=post_hot_week_title"
               title="中国时代女性的群像《只为你生命中的“美”一天》">中国时代女性的群像《只为你生命中的“美”一天》</a></h1>
        <div class="index-con">
            <div class="rating" data-score="7.5">
                <div class="rating-holder">
                    <span style="width:72px;"></span>
                </div>
                <span class="num">7.5</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53727?from=index_new_intro">穿越百年追求美</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53727?from=post_hot_week" title="阅读中国时代女性的群像《只为你生命中的“美”一天》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-27</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53697"><a target="_blank" href="/53697?from=post_hot_week_img"
                                        title="励志追梦短片《不要追逐他人，不要输掉自己》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-23/5ab4bedbe0b75_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="励志追梦短片《不要追逐他人，不要输掉自己》">
    <div class="bottom-cover">
        <!-- <span class="share-num">226211</span> -->
        <span class="film-time">05:54</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53697?from=post_hot_week_title" title="励志追梦短片《不要追逐他人，不要输掉自己》">励志追梦短片《不要追逐他人，不要输掉自己》</a>
            <a href="http://www.xinpianchang.com/a10178607" class="mark mark-blue curp"
               target="_blank">来自新片场</a></h1>
        <div class="index-con">
            影片作者：
            <a class="user" target="_blank" href="http://www.xinpianchang.com/u10212604">毛一平</a>
            <a target="_blank" href="http://www.xinpianchang.com/user/userverify/ts-intro"
               class="plus-v-p-12"></a>
            <div class="rating" data-score="7.4">
                <div class="rating-holder">
                    <span style="width:70.8px;"></span>
                </div>
                <span class="num">7.4</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53697?from=index_new_intro">当你还可以努力时，请不要轻言放弃。</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53697?from=post_hot_week" title="阅读励志追梦短片《不要追逐他人，不要输掉自己》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-24</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53720"><a target="_blank" href="/53720?from=post_hot_week_img"
                                        title="新海诚团队打造《肆式青春》唯美预告" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-03-22/5ab36f9ab6882_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="新海诚团队打造《肆式青春》唯美预告">
    <div class="bottom-cover">
        <!-- <span class="share-num">245011</span> -->
        <span class="film-time">01:05</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53720?from=post_hot_week_title" title="新海诚团队打造《肆式青春》唯美预告">新海诚团队打造《肆式青春》唯美预告</a>
        </h1>
        <div class="index-con">
            <div class="rating" data-score="7.2">
                <div class="rating-holder">
                    <span style="width:68.4px;"></span>
                </div>
                <span class="num">7.2</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53720?from=index_new_intro">画风依旧是美呆了</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53720?from=post_hot_week" title="阅读新海诚团队打造《肆式青春》唯美预告全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">2018-03-23</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
<li class="clearfix" data-id="53776"><a target="_blank" href="/53776?from=post_hot_week_img"
                                        title="第90届奧斯卡最佳真人短片《沉默的孩子》" class="index-img"> <img
        src="https://cs.vmovier.com/Uploads/cover/2018-04-03/5ac30c7dd105b_cut.jpeg@600w_400h_1e_1c.jpg"
        alt="第90届奧斯卡最佳真人短片《沉默的孩子》">
    <div class="bottom-cover">
        <!-- <span class="share-num">154911</span> -->
        <span class="film-time">19:51</span>
    </div>
</a>
    <div class="index-text">
        <h1><a target="_blank" href="/53776?from=post_hot_week_title" title="第90届奧斯卡最佳真人短片《沉默的孩子》">第90届奧斯卡最佳真人短片《沉默的孩子》</a>
        </h1>
        <div class="index-con">
            <div class="rating" data-score="8.0">
                <div class="rating-holder">
                    <span style="width:75px;"></span>
                </div>
                <span class="num">8.0</span>
            </div>
        </div>
        <div class="index-intro">
            <a target="_blank" href="/53776?from=index_new_intro">微风拂动树叶，悠然落下，我仿佛听到那声音</a>
        </div>
        <!-- 		<div class="index-more"><a href="/53776?from=post_hot_week" title="阅读第90届奧斯卡最佳真人短片《沉默的孩子》全文" target="_blank">阅读全文...</a></div> -->
        <div class="index-like clearfix">
            <!--增加了频道显示-->
            <span class="time"> </span>
            <span class="time">3 天前</span>
            <div class="post-ope">
                <span class="post-comment"></span>
                <span class="post-like"></span>
                <a href="javascript:;" class="post-share-btn" id="post-share-btn"></a>
            </div>
        </div>
    </div>
</li>
</body>
</html>